appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
Click==7.0
fastapi==0.48.0
filelock==3.0.12
h11==0.9.0
httptools==0.0.13
importlib-metadata==1.5.0
lazy-object-proxy==1.4.3
more-itertools==8.2.0
numpy==1.18.1
packaging==20.1
pbr==5.4.4
pluggy==0.13.1
py==1.8.1
pydantic==1.6.2
pyparsing==2.4.6
pytest==5.3.5
scipy==1.4.1
six==1.14.0
starlette==0.12.9
stevedore==1.31.0
typed-ast==1.4.1
uvicorn==0.11.2
uvloop==0.14.0
wcwidth==0.1.8
websockets==8.1
wrapt==1.11.2
zipp==2.2.0
